<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>メモ詳細</title>
</head>
<body>
<h2><%= data.title %></h2>
<table border="1">
<tr><th>項目</th><th>内容</th></tr>
<tr><td>ID</td><td><%= data.id %></td></tr>
<tr><td>タイトル</td><td><%= data.title %></td></tr>
<tr><td>内容</td><td><%= data.content %></td></tr>
</table>
<br>
<a href="/memo/edit/<%= id %>">編集する</a><br>
<br>
<a href="/memo">一覧に戻る</a>
</body>
</html>